* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    font-family: sans-serif;
}

h1,
h1,
p,
div {
    margin: 20px;
}

div > div {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.combined {
    width: 400px;
    position: relative;
}

.style {
    width: 400px;
    height: 400px;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.style1 {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.style1:hover {
    background: transparent;
}

.style2 {
    color: rgb(255, 255, 255, 0.5);
    padding: 350px 0 0 15px;
}

.style2:hover {
    color: #fff;
}

.style3 {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    height: 50px;
    text-align: right;
    padding-right: 15px;
}

.style3:hover {
    background: #000;
}

.style4 {
    color: transparent;
}

.style4:hover {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-transform: uppercase;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
