/*base*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 12px;
}

body{
    font-family: sans-serif;
    line-height: 150%;
    background: #d7e7cd;
    align-items: center;
}

h1{
    font-size: 2rem;
    padding: 4rem 1rem 1rem;
    border-bottom: 0.5rem solid #000;
    background: #fff;
    text-align: center;
}

h2{
    text-align: right;
    font-variant: small-caps;
    margin-right: 2rem;
}

p{
    margin: 1rem;
}

img{
    padding: 1rem 1rem 4rem;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0.5rem 0.5rem 0.6px rgba(150,150,150,0.5);
    margin: 1rem;
}

footer{
    display: none;
}