/*
Colors: beige (#bcae8d), brown (#8c7a4e), dark (#090601)
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #bcae8d;
    padding: 21px;
}

section,
h1,
p {
    margin: 21px 0;
}

#outline{
    max-width: 1000px;
    background: #fff;
    margin: auto;
    padding: 21px;
}

header{
    background: #090601;
    background-image: url(../images/bgHeader.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
}

header div{
    padding: 21px;
    text-align: right;
    color: #bcae8d;
}

header span{
    line-height: 40px;
    display: block;
}

nav ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    background:#bcae8d;
}

nav ul li a{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    line-height: 50px;
    color: #fff;
}

nav ul li{
    border: 1px solid #100903;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li:hover{
    background: #8c7a4e;
}

#career li{
    margin-left: 21px;
}

#career .ul2 li::before{
    content: '▶';
}

.ul2{
    list-style: none;
}