@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    font-family: 'Dancing Script', sans-serif;
    font-size: 30px;
    background-color: greenyellow;
    background-image: url('../../images/pexels-annam-w-1738675.jpg');
}

h1 {
    text-transform: uppercase;
    background-color: burlywood;
}

h2{
    background-color: burlywood;
}

img{
    max-width: 100%;
    
}

header img{
    width: 340px;
    height: 500px;
    animation: shrink 3s;
}

@keyframes shrink{
    from { width: 40%; }
    to {  width: 28%; }
}

header img:hover{
    animation: grow 3s;
}

@keyframes grow{
    from { width: 28%; }
    to {  width: 40%; }
}

article li {
    list-style-type: circle;
}

li a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 700px;
}


th {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    background-color: mediumseagreen;
    border: 1px solid grey;
}

tr{
    background-color: forestgreen;
    border: 1px solid grey;
}

td {
    font-size:20px;
    line-height: 100%;
    text-align: center;
}

li a {
    background: darkgreen;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

li a:hover {
    background: #fff;
    color: darkgreen;
}