@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: darkblue;
    color: #fff;
}

h1 {
    text-transform: uppercase;
    color: yellow;
    background-color: red;
}

h2{
    background-color: red;
}

img{
    max-width: 100%;
}

header img{
    width: 340px;
    height: 500px;
}

article li {
    list-style-type: circle;
}

li a {
    text-decoration: none;
}

.hide{
    display: none;
}


table {
    border-collapse: collapse;
    width: 700px;
}


th {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    background-color: greenyellow;
    border: 1px solid black;
}

tr{
    background-color: green;
    border: 1px solid black;
}

td {
    font-size:20px;
    line-height: 100%;
    text-align: center;
}

li a {
    background: lightgreen;
    color: red;
    text-decoration: none;
    font-weight: bold;
}

li a:hover {
    background: red;
    color: lightgreen;
}


@media screen and (min-width: 600px) {
    body {
        font-family: 'Butterfly Kids', sans-serif;
        font-size: 30px;
    }
}

@media screen and (min-width: 900px) {
    li a {
        background: cyan;
        color: purple;
    }
    
    li a:hover {
        background: purple;
        color: cyan;
    }
}