@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    background-color: lightblue;
}

h1 {
    text-transform: uppercase;
}

img{
    max-width: 100%;
    display: none;
}

header img{
    width: 340px; 
    height: 500px;
    filter: grayscale(0.8)
}

header img:hover{
    animation: shrink 3s;
}

@keyframes shrink{
    from { width: 40%; }
    to {  width: 27%; }
}

article li {
    list-style-type: circle;
}

li a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 700px;
}


th {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    background-color: darkgrey;
    border: 1px solid grey;
}

tr{
    background-color: lightgrey;
    border: 1px solid grey;
}

td {
    font-size:20px;
    line-height: 100%;
    text-align: center;
}

li a {
    background: #fff;
    color: darkred;
    text-decoration: none;
    font-weight: bold;
}

li a:hover {
    background: darkred;
    color: #fff;
}

@media screen and (min-width: 600px){
    img{
        display: block;
    }
}

@media screen and (max-width: 600px){
    body{
        font-size: small;
    }
}

@media screen and (min-width: 900px){
    li a {
        background: #fff;
        color: darkblue;
    }
    
    li a:hover {
        background: darkblue;
        color: #fff;
    }
}